# Entorno virtual
.venv/

# Archivos de configuración de entorno
.env

# Archivos de bases de datos
*.db

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de pipenv
Pipfile.lock

# Archivos de VSCode
.vscode/

/migrations/
